.list {
  list-style: none;
  text-decoration: none;
}

.ul {
  text-align: center;
}

.anchor {
  background-color: aliceblue;
  padding: 5rem;
  color: #000;
  text-transform: capitalize;
}

.number {
  margin: 0.5rem;
}